body {
    background-color: #297CBB;
    box-sizing: border-box;
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAQAAABuBnYAAAAAU0lEQVQIHQXBwRGDIBAAwO2/AMcCDHAcPjIRxjJ8Je1kl1uqUgphsWu6w0sIG6npLpcUBql4e/wsVRKabrkNTacIYbMrwsF06rqUhsnXVKVT+Hj+Ue4rPSONk4kAAAAASUVORK5CYII=);
}

.algorithm {
    background-color: #f4fbfe;
    color: #2c3643;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 15px;
    margin: 24px auto;
    width: 30rem;
}

.squares {
    display: flex;
}

.square {
    border: 1px #2c3643 solid;
    padding: 10px;
    min-width: 20px;
    text-align: center;
    margin-right: -1px;
}

.current {
    background-color: rgb(113, 154, 185);
}

.found {
    background-color: #297CBB;
}

h1 {
    font-weight: 100;
    margin: 0 0 15px 0;
}

h2 {
    font-weight: 100;
    margin: 15px 0;
}

button {
    background-color: #3b444f;
    color: #f4fbfe;
    height: 40px;
    width: 100px;
    border: 0 solid #2c3643;
    margin-right: 5px;
    cursor: pointer;
}