body {
    background-color: #297CBB;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.algorithm {
    background-color: #f4fbfe;
    color: #2c3643;
    padding: 15px;
    margin: 24px 16px;
    width: 30rem;
    border-radius: 10px;
    box-shadow: 0 8px 6px -6px black;
}

.squares {
    display: flex;
    font-weight: bold;
}

.square {
    border: 1px #2c3643 solid;
    padding: 10px;
    min-width: 20px;
    text-align: center;
    margin-right: -1px;
}

.current {
    background-color: rgb(113, 154, 185);
}

.found {
    background-color: #297CBB;
}

h1 {
    font-weight: 100;
    margin: 0 0 15px 0;
}

h2 {
    font-weight: 100;
    margin: 15px 0;
}

button {
    background-color: #3b444f;
    color: #f4fbfe;
    height: 40px;
    width: 100px;
    border: 0 solid #3b444f;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}